<div id="contenedorGeneral">
    <div [formGroup]="myForm">


        <input type="text" placeholder="Correo" formControlName="correo" class="form-control" #inputCorreo>
        <span *ngIf="isValidField('correo')"> {{ getFieldError('correo') }}</span>


        <input type="password" placeholder="Contraseña" formControlName="password" class="form-control" #inputPassword>
        <span *ngIf="isValidField('password')"> {{ getFieldError('password') }} </span>
        <button type="submit" (click)="submit()">Iniciar sesión</button>
    </div>
</div>