div{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgb(48, 87, 149);
    color: white;
}
button:hover{
    background-color: rgb(38, 71, 125);
    cursor: pointer;
}